doctype html

html
    head
        title= 'Registro Noteras'

        // Page icon.
        link(rel='icon', href='/images/noteras.png')

        // Bootstrap 5
        link(rel='stylesheet', href='https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css', integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC", crossorigin="anonymous")
        //link(rel='stylesheet', href='/stylesheets/register.css')

        // FA icons
        script(src="https://kit.fontawesome.com/802c6138f5.js", crossorigin="anonymous")

    body
        if error
            .alert.alert-danger.alert-dismissible.fade.show(role='alert')
                strong Error al registrarse
                |  #{error}
                button.btn-close(type='button' data-bs-dismiss='alert' aria-label='Close')
        section.h-100
            .container.h-100
                .row.justify-content-sm-center.h-100
                    .col-xxl-4.col-xl-5.col-lg-5.col-md-7.col-sm-9
                        .text-center.my-5
                            img(src='images/noteras.png' alt='logo' width='100')
                        .card.shadow-lg
                            .card-body.p-5
                                h1.fs-4.card-title.fw-bold.mb-4 Registro en Noteras
                                form.needs-validation(method='POST' novalidate='' autocomplete='off' action='/register')
                                    .mb-3
                                        label.mb-2.text-muted(for='name') Nombre
                                        input#name.form-control(type='text' name='nombre' value='' required='' autofocus='')
                                        .invalid-feedback
                                            | Se requiere un nombre
                                    .mb-3
                                        label.mb-2.text-muted(for='email') Correo electrónico
                                        input#email.form-control(type='email' name='username' value='' required='')
                                        .invalid-feedback
                                            | El email es inválido
                                    .mb-3
                                        label.mb-2.text-muted(for='password') Contraseña
                                        input#password.form-control(type='password' name='password' required='')
                                        .invalid-feedback
                                            | Se requiere una contraseña
                                    p.form-text.text-muted.mb-3
                                        | Al registrarte aceptas los términos y condiciones.
                                    .align-items-center.d-flex
                                        button.btn.btn-primary.ms-auto(type='submit')
                                            | Registrarse
                        .card-footer.py-3.border-0
                            .text-center
                                | ¿Ya tienes una cuenta? 
                                a.text-dark(href='/login') Iniciar Sesión
                        .text-center.mt-5.text-muted
                            | Copyright © 2021 — Chilliware
        script(src='js/login.js')
